# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data
data/*
!data/external/
data/external/*
!data/external/tcga_blca/
data/external/tcga_blca/*
!data/external/tcga_blca/manifests/
data/external/tcga_blca/manifests/*
!data/external/tcga_blca/manifests/README.md

# Reports
reports/
artifacts/

# Logs
*.log

# Environment files
.env
.venv/
# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/
